*.gitignore filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
/.utmp/RelWithDebInfo/3at4q252/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2 filter=lfs diff=lfs merge=lfs -text
/.utmp/RelWithDebInfo/3at4q252/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/.utmp/RelWithDebInfo/3at4q252/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.ninja_deps filter=lfs diff=lfs merge=lfs -text
*.ninja_log filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.check_cache filter=lfs diff=lfs merge=lfs -text
*.ninja filter=lfs diff=lfs merge=lfs -text
/.utmp/RelWithDebInfo/481o1a6t/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2 filter=lfs diff=lfs merge=lfs -text
/.utmp/RelWithDebInfo/481o1a6t/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1 filter=lfs diff=lfs merge=lfs -text
/.utmp/RelWithDebInfo/481o1a6t/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2 filter=lfs diff=lfs merge=lfs -text
*.vsconfig filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Assets/ExternalDependencyManager/Editor/LICENSE filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.pom filter=lfs diff=lfs merge=lfs -text
*.srcaar filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.physicMaterial filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.hlsl filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text
*.shadergraph filter=lfs diff=lfs merge=lfs -text
*.cginc filter=lfs diff=lfs merge=lfs -text
*.wlt filter=lfs diff=lfs merge=lfs -text
